<li>
	{{burger_name}}
	<img src="./assets/img/burger.png" alt="a burger">

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat this Burger!{{else}}Re-order Burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
