<li>
	{{burger_name}}
	<img src="public/assets/img/burger.png" alt="a burger">

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
